[2015-04-07 07:33] mklemarczyk opened #1 "Plan wykładu nr 2"
## Agenda
- Zmiana języka w aplikacji (np. polski)
- Projektowanie widoków
  - Stosowanie formatów danych do wyświetlania danych
  - Menu aplikacji
- Projektowanie formularzy
  - Dodawanie pól z możliwością wyboru
- Projektowanie modeli
  - Dodawanie reguł weryfikacji danych

[2015-04-07 07:50] mklemarczyk opened #2 "Plan wykładu nr 1"
## Agenda
- Wprowadzenie do rynku frameworków PHP
- Yii 2.0 - [wymagania](http://www.yiiframework.com/doc-2.0/guide-intro-upgrade-from-v1.html)
- Przygotowanie serwera do Yii
- Minimalna konfiguracja Yii
  - Wyjaśnienie [struktury katalogów w aplikacji](http://www.yiiframework.com/doc-2.0/guide-start-workflow.html#application-structure)
- Wprowadzenie do [wzorca projektowego MVC](http://pl.wikiped

[2015-04-11 22:03] #1 closed, assigned to mklemarczyk

[2015-04-11 22:03] #2 closed, assigned to mklemarczyk

[2015-04-11 22:14] mzweigert opened #3 "Problem z umieszczeniem wielu danych w jednym polu"
Mam 2 tabele, klient i adres. Tabela adres jest połączona z tabelą klient realacją wiele do wielu (klucz obcy idAdres znajduje się w tabeli klient).
Podczas wyswietlania klienta we frameworku, chcialbym aby adres (miasto,ulica,nr,kod) wyswietlal się w jednym polu, a nie w kilku - rozdzielonych od siebie.

kod modelu Klient.php

[code]

kod z view.php (klienta)

[code]

[2015-04-11 22:24] mklemarczyk commented on #3
Aby to zrobić możesz napisać w [**modelu**](http://www.yiiframework.com/doc-2.0/guide-structure-models.html) pole wyliczeniowe.

Przykład: Załóżmy, że chcemy zrobić imie i nazwisko w jednym polu o nazwie nazwaKlienta.
W modelu będziemy potrzebowali funkcji:

[code]

W widoku będziemy mogli tego użyć w ten sposób:

[code]

PS: W twoim przypadku pole wyliczeniowe będzie trzeba zaimplementować w [**m

[2015-04-11 22:33] #3 closed, assigned to mklemarczyk

[2015-04-14 10:18] mawalca opened #4 "Polskie litery - nagłówki kolumn"
Witam.
Mam pytanie. Jak zrobić polskie litery w nagłówkach kolumn w widokach?

[2015-04-14 10:21] mklemarczyk commented on #4
Jeśli chodzi o polskie litery w nazwach kolumn, należy odwiedzić plik z [**modelem**](http://www.yiiframework.com/doc-2.0/guide-structure-models.html) (common/models/nazwa_tabeli.php).

Tam jest funkcja o nazwie [**attributeLabels**](http://www.yiiframework.com/doc-2.0/guide-structure-models.html#attribute-labels), która odpowiada za nagłówki kolumn.
Musisz poprawić te nazwy i zapisać plik z kodow

[2015-04-14 10:27] #4 closed, assigned to mklemarczyk

[2015-04-14 10:36] mawalca opened #5 "Formularz - własna lista rozwijalna"
Kolejne pytanie.
Jak stworzyć listę rozwijalną w formularzu tworzenia nowego elementu, w której byłyby pozycje nie z innej tabeli, tylko moje własne?

[2015-04-14 10:44] mklemarczyk commented on #5
Listę rozwijają tworzymy za pomocą metody [**dropDownList**](http://www.yiiframework.com/doc-2.0/yii-widgets-activefield.html#dropDownList%28%29-detail).

Która potrzebuje tablicy z danymi w formacie

[code]

Listę te można zapisać w modelu w nowej metodzie aby mieć potem dostęp do tej listy. Podobnie jak wygląda funkcja [**attributeLabels**](http://www.yiiframework.com/doc-2.0/guide-structure-mod

[2015-04-14 11:23] kpalkowska opened #6 "Problem z dropDownList w actionUpdate"
Mój kod w kontrolerze wygląda tak (na zasadzie tego co w tutorialu dla actionCreate):

[code]

Jednak dla update to nie działa (brak błędów, ale nie zmienia danych w polu, gdzie jest lista rozwijana). Wiesz może dlaczego?

[2015-04-14 11:35] mklemarczyk commented on #6
Czy możesz dołączyć zawartość [**widoków**](http://www.yiiframework.com/doc-2.0/guide-structure-views.html) **update.php** i **_form.php** dla tego [**kontrolera**](http://www.yiiframework.com/doc-2.0/guide-structure-controllers.html)?

[2015-04-14 11:38] kpalkowska commented on #6
view.php :

<?php

use yii\helpers\Html;
use yii\widgets\DetailView;

/* @var $this yii\web\View */
/* @var $model common\models\Piosenka */

$this->title = $model->id;
$this->params['breadcrumbs'][] = ['label' => Yii::t('app', 'Piosenki'), 'url' => ['index']];
$this->params['breadcrumbs'][] = $this->title;
?>
<div class="piosenka-view">

    <h1><?= Html::encode($this->title) ?></h1>

    <p>

[2015-04-14 11:39] kpalkowska commented on #6
_form.php

[code]

[2015-04-14 11:41] mklemarczyk commented on #6
Przepraszam Cię serdecznie, miałem na myśli widok update.php

[2015-04-14 11:42] kpalkowska commented on #6
update.php

[code]

[2015-04-14 11:47] mklemarczyk commented on #6
To mam kilka pytań:
1. Jakie dane wpisujesz do formularza?
2. Czy po naciśnięciu zapisz przechodzi na stronę piosenka/view?
3. Czy możesz pokazać plik z modelem piosenki?

[2015-04-14 11:52] kpalkowska commented on #6
1. Gdy z listy rozwijalnej wybieram inny album niż jest obecnie, moja zmiana nie jest uwzględniona.
2. Tak, przechodzi.

piosenka.php

[code]

[2015-04-14 12:05] mklemarczyk commented on #6
W modelu twoje pole nazywa sie **album_id**, które jest relacją do tabeli album.
A w formularzu wstawiasz **id** **albumu** do pola **album**, które **_nie**_ istnieje w bazie danych.

Samo pole album istnieje w [**modelu tabeli**](http://www.yiiframework.com/doc-2.0/guide-db-active-record.html#working-with-relational-data) i jest wirtualne. Realizuje je funkcja **getAlbum**.

Powinnaś napisać w f

[2015-04-14 12:49] #6 closed, assigned to mklemarczyk

[2015-04-14 13:51] #5 closed, assigned to mklemarczyk

[2015-04-14 16:19] Dawid93 opened #7 "Problem z SQL dla phpMyAdmin"
[code]

[2015-04-15 07:48] mklemarczyk commented on #7
Błąd 1:

[code]
1. Funkcja getdate nie istnieje w MySQL. http://dev.mysql.com/doc/refman/5.1/en/date-and-time-functions.html
2. Tylko pole typu [**TIMESTAMP**](http://dev.mysql.com/doc/refman/5.1/en/timestamp-initialization.html) może przyjmować wartość z bieżącą datą w MySQL.
3. Ustawienie domyślnych danych powinno być realizowane za pomocą modelu, nie bazy danych.

Błąd 2:

[code]
1. Pole e-mail

[2015-04-15 08:43] srzeppa opened #8 "Zmiana języka ":date"."
Jak zmienić język wyświetlanych miesięcy na polski?

[2015-04-15 08:44] srzeppa opened #9 "Baza danych dostępna tylko po zalogowaniu."
Jak zrobić, kontrolery bazy danych mogły być wykonywane tylko przez zalogowanych użytkowników?

[2015-04-15 08:55] mklemarczyk commented on #8
W konfiguracji, gdzie konfigurowałeś język aplikacji należy zdefiniować konfigurację:
(tj. _/common/config/main.php_)

[code]

Note: Niestety nie ma możliwości przetłumaczenia nazw miesięcy na język polski bez użycia rozszerzenia intl dla PHP.

[2015-04-15 09:24] #7 closed, assigned to mklemarczyk

[2015-04-15 09:30] mklemarczyk commented on #9
Rozumiem, że masz na mysli ograniczenie funkcjonalności aplikacji tylko dla zalogowanych uzytkowników.
1. Potrzebujesz skonfigurować dostęp w [**kontrolerze**](http://www.yiiframework.com/doc-2.0/guide-structure-controllers.html) za pomocą [**access control filters**](http://www.yiiframework.com/doc-2.0/guide-security-authorization.html#access-control-filter). W tym celu musisz zmodyfikować tablic

[2015-04-15 09:34] srzeppa commented on #9
(͡° ͜ʖ ͡°) Dziękuję (͡° ͜ʖ ͡°)

[2015-04-15 09:38] srzeppa opened #10 "Możliwość rejestracji i logowania."
Jak zrobić (tabele w bazie danych itp itd, ogólnie chodzi o wszystko), by była możliwość rejestracji i logowania użytkowników w aplikacji?
(͡° ͜ʖ ͡°)

[2015-04-15 09:42] mklemarczyk commented on #10
W tym celu musisz użyć narzędzia migracji. Odpowiada ono za automatyczne tworzenie tabel w bazie danych oraz ich aktualizację.
W podstawowym szkielecie aplikacji jest opisana migracja tworząca tabelę user, więc nie możesz posiadać takiej tabeli w bazie przed wykonaniem skryptu.

Skrypt możesz wywołać zaczynając od `start.bat` aby zainicjować zmienną z PHP.
A następnie należy wywołać polecenie migr

[2015-04-15 17:20] srzeppa commented on #9
Mój plik kontrolera wygląda tak:

[code]

[2015-04-15 18:06] srzeppa commented on #9
Problem rozwiązany -> nie miałem nagłówka.

[2015-04-15 18:23] romety2 opened #11 "Problem z umieszczeniem wielu danych w jednym dropDownList-ach"
Witam!

Mam utworzoną relacje w taki sposob ze id_osoba jest kluczem obcym, w mojej dropDownLiscie wypadalo by wyswitlic imie  oraz nazwisko, jednka nie wiem jak to zrobic. Jakbyś umiał mi pomóc prosił bym o odpowiedź.

[2015-04-15 18:54] mawalca opened #12 "Usuwanie rekordu, do którego jest odwołanie w innej tabeli"
Kiedy klikam, by usunąć jakiś element, do którego odwołuje się inna tabela w kluczu obcym, wyświetla się cała strona, opisująca błędy. Nie chcę ustawiać w bazie, by usuwanie było kaskadowe (co by usunęło ten problem). Stąd moje pytanie, czy można zrobić tak, by zamiast tej strony z błędami wyskakiwało małe okienko z informacją, że nie da się usunąć elementu? Jeśli się da, to jak to zrobić?

[2015-04-15 19:21] mklemarczyk commented on #11
Odpowiedź znajduje się w #3.

[2015-04-15 19:22] #9 closed, assigned to mklemarczyk

[2015-04-15 19:29] mklemarczyk commented on #12
W akcji actionDelete możesz użyć konstrukcji try catch w celu wyłapania błędu, a następnie użyć widgetu Alert do zakomunikowania błędu.

[code]

[2015-04-15 19:33] mawala commented on #12
Od razu pokazuje się błąd:
[code]

[2015-04-15 19:47] mklemarczyk commented on #12
a no tak bo się pisze przecież ```}catch(){```

[2015-04-15 19:50] mawala commented on #12
No i teraz wszystko pięknie działa. Dziękuję bardzo za pomoc

[2015-04-15 19:51] #12 closed, assigned to mklemarczyk

[2015-04-16 05:38] #10 closed, assigned to mklemarczyk

[2015-04-16 05:38] #8 closed, assigned to mklemarczyk

[2015-04-16 06:59] goorskyy opened #13 "Problemy przy uruchomieniu Gii"
1. in C:\Serwer\root\advanced\vendor\yiisoft\yii2\db\Connection.php at line 534

[code]

[2015-04-16 07:01] mklemarczyk commented on #13
Możesz pokazać konfigurację yii odnośnie bazy danych (ukryj swoje hasło).

[2015-04-16 07:02] goorskyy commented on #13
[code]

[2015-04-16 07:04] mklemarczyk commented on #13
Stwórz plik info.php w katalogu głównym serwera (HTTP) o treści:

[code]

I podaj listę obsługiwanych PDO drivers.

[2015-04-16 07:05] mklemarczyk commented on #13
Nazwa do DSN dla MS SQL nie jest **mssql** tylko **sqlsrv**.
Dokumentacja: http://php.net/manual/en/ref.pdo-sqlsrv.connection.php

[2015-04-16 07:19] goorskyy opened #14 "Jak zaktualizować PHP?"
Chciałbym zaktualizować wersję PHP w USBWebServer

[2015-04-16 07:22] mklemarczyk commented on #14
Musisz ściągnąć archiwum z interpreterem PHP ze strony http://php.net

Na przykład: http://windows.php.net/downloads/releases/php-5.4.40-Win32-VC9-x86.zip
1. Wyłącz serwer USBWebServer
2. Stwórz archiwum z folderu **php**
3. Pobierz nową wersję PHP
4. Usuń zawartość folderu **php**
5. Wklej pliki nowego PHP do folderu **php**

Na koniec zapisz jeszcze raz konfigurację serwera USBWebServer (okno ap

[2015-04-16 07:34] srzeppa opened #15 "Strona główna, dostęp tylko dla niezalogowanych."
Potrzebuję, by niektóre elementy w indeksie strony były widocznie tylko dla niezalogowanych użytkowników.

[code]

[2015-04-16 07:40] mklemarczyk commented on #15
Możesz użyć zmiennej user: Yii::$app->user
Posiada ona własność isGuest

Na przykład

[code]

[2015-04-16 07:46] #15 closed, assigned to mklemarczyk

[2015-04-16 07:49] #14 closed, assigned to mklemarczyk

[2015-04-16 07:50] mklemarczyk commented on #13
Niestety ale MS SQL nie jest wspierany już w PHP dla Apache.

[2015-04-16 07:50] #13 closed, assigned to mklemarczyk

[2015-04-16 07:51] #11 closed, assigned to mklemarczyk

[2015-04-16 08:37] Strugacki opened #16 "Dane zamiast numeru id klucza obcego"
Jak rozwiązać problem z ukrywaniem kluczy obcych oraz głównych w widoku.

[2015-04-16 08:38] mklemarczyk commented on #16
Masz na myśli by wyświetlić dane pracownika zamiast jego id?
Możesz podać zawartość pliku z widokiem?

[2015-04-16 08:39] Strugacki commented on #16
<?php

use yii\helpers\Html;
use yii\grid\GridView;

/* @var $this yii\web\View */
/* @var $dataProvider yii\data\ActiveDataProvider */

$this->title = 'Wypożyczenia';
$this->params['breadcrumbs'][] = $this->title;
?>
<div class="wypozyczenie-index">

    <h1><?= Html::encode($this->title) ?></h1>

    <p>
        <?= Html::a('Dodaj Wypożyczenie', ['create'], ['class' => 'btn btn-success']) ?>

[2015-04-16 08:40] Strugacki commented on #16
Tak, dokładnie to mam na myśli.

Plik widoku:

[code]

[2015-04-16 08:41] mklemarczyk commented on #16
Aby ukryć pola wystarczy je usunąć tutaj z atrybutów.

[code]

[2015-04-16 08:42] Strugacki commented on #16
Chodziło bardziej o listę z imionami zamiast identyfikatorów

[2015-04-16 08:42] mklemarczyk commented on #16
Możesz podać zawartość pierwszego komentarza modelu wypozyczenia?

[2015-04-16 08:43] Strugacki commented on #16
[code]

[2015-04-16 08:44] mklemarczyk commented on #16
To wystarczy zamiast `'Identyfikator_pracownika'` podać nazwę relacji oraz nazwę pola do wyświetlenia np. `'identyfikatorPracownika.imie'`. Zakładając, że pole **imie** istnieje w modelu **pracownik**.

[2015-04-16 08:46] #16 closed, assigned to mklemarczyk

[2015-04-16 11:26] romety2 commented on #11
Nie wiedzialem, ze php jest taki madry :+1:  dzieki za pomoc

[2015-04-17 09:48] martin123154 opened #17 "Dodanie obrazka w widoku (eg. site/home)"
Witam, Mam pytanie. Jak dodać jakiś obrazek na główną strone aplikacji?

[2015-04-17 12:58] mklemarczyk commented on #17
Jeśli chcesz dodać stały obrazek na główną stronę to:
1. Musisz go skopiować do katalogu **/frontent/web/images**, Katalog **images** to tylko zalecenie, możesz go dowolnie nazwać.
2. W pliku [**widoku**](http://www.yiiframework.com/doc-2.0/guide-structure-views.html) **/forntend/views/site/index.php** wyświetlić obrazek poleceniem:

[code]

Obrazek może być dowolnym plikiem graficznym (jpeg, jpg,

[2015-04-17 16:22] #17 closed, assigned to mklemarczyk

[2015-04-19 06:47] romety2 opened #18 "Wybranie tylko zatrudnionych pracowników (Formularz - DropDownList)"
Witam mam pytanie, czy jest możliwe zrealizowanie DropDownListy w taki sposób by nie wyświetlała wszystkich danych z tabeli, dla przykładu mam tabele pracownik oraz kolumnę zwolniony (typu bool) i nie chce mieć na liście pracowników o wartości true w danej kolumnie :)

[2015-04-19 20:00] mklemarczyk commented on #18
Należy w miejscu pobierania danych zastosować funkcję where.
Należy jej użyć po funkcji find().

Na przykład:

[code]

Na przykład:

[code]

:information_source: Więcej o funkcji where: http://www.yiiframework.com/doc-2.0/guide-db-query-builder.html#where

[2015-04-20 15:18] martin123154 opened #19 "Powtarzanie danych - pola z wartościami unikatowymi"
Jak wykonać coś takiego że mając UNIQUE przy kolumnie powiedzmy PESEL, przy wpisaniu tego samego drugi raz nie wyświetlało strony z błedami tylko jakiś stosowny komunikat?

[2015-04-20 16:35] mklemarczyk commented on #19
Należy w tym celu poinformować model, że dane pole może mieć tylko unikatowe wartości za pomocą validatora: http://www.yiiframework.com/doc-2.0/guide-tutorial-core-validators.html

Przykład zastosowania w modelu:

[code]

[2015-04-20 16:39] chomyczek opened #20 "Automatyczne dodawanie wartosci formularza"
Mamy tabele koszyk, jak dodać id obecnie zalogowanego uzytkownika automatycznie a nie recznie?
przyjmijmy ze koszyk ma pola :
`id, przedmiot, ilosc, uzytkownik_id`

[2015-04-20 16:42] mklemarczyk commented on #20
Potrzebujesz edytować akcję [**kontrolera**](http://www.yiiframework.com/doc-2.0/guide-structure-controllers.html).
Możesz ją zacytować?

A informację o id zalogowanego użytkownika, można uzyskać za pomocą zmiennej:

[code]

[2015-04-20 16:44] chomyczek commented on #20
Akcja create:

[code]

[2015-04-20 16:48] mklemarczyk commented on #20
Dane w zmiennej model, możesz edytować dopiero po załadowaniu danych z formularza, tj. po instrukcji:

[code]

Aby wpisać id użytkownika do odpowiedniego pola w modelu wystarczy:

[code]

[2015-04-20 16:54] chomyczek commented on #20
a co mam z tym zrobic jezeli mam load w if`ie?

[2015-04-20 16:58] mklemarczyk commented on #20
Oh, na przykład to (rozłożyć go na dwa if'y i pomiędzy napisać instrukcję przypisania):

[code]

:warning: Notka: Dodatkowo musisz wcześniej uruchomić system logowania i rejestracji, który jest zaimplementowany w szkielecie aplikacji ( #10 )

[2015-04-20 17:03] #20 closed, assigned to mklemarczyk

[2015-04-20 17:04] #19 closed, assigned to mklemarczyk

[2015-04-20 17:05] #18 closed, assigned to mklemarczyk

[2015-04-20 17:49] chomyczek opened #21 "Modyfikacja modelu User"
Chciałbym dodać kilka nowych pól do modelu User.
Jednak nie jestem pewien czy mogę go edytować.

Załączam zawartość pliku modelu User.

[code]

[2015-04-20 17:54] mklemarczyk commented on #21
Plik `User.php` oczywiście można modyfikować jak każdy model.
:warning: Jednak jest kilka funkcji, które powinny zostać w nienaruszonym stanie.
Można z nimi eksperymentować, jednak w momencie kiedy logowanie/rejestracja nie działają poprawnie, zaleca się przywrócić je do stanu oryginalnego.

Dodatkowo nie zaleca się usuwania żadnego z domyślnie zdefiniowanych pól modelu User.

Zaznaczyłem na twoim

[2015-04-20 17:56] mklemarczyk commented on #21
Ponadto, będziesz musiał edytować model `SignupForm`, w celu dodania pól do rejestracji.

[2015-04-20 18:00] mklemarczyk commented on #21
Dodatkowo możesz poczytać na temat modeli, modeli bazy danych oraz metod uwierzytelniania.
:information_source: Więcej info:
- http://www.yiiframework.com/doc-2.0/guide-structure-models.html
- http://www.yiiframework.com/doc-2.0/guide-db-active-record.html
- http://www.yiiframework.com/doc-2.0/guide-security-authentication.html

[2015-04-20 19:23] #21 closed, assigned to mklemarczyk

[2015-04-20 19:30] Dawid93 opened #22 "Klucze obce w GridView - syntax error"
Plik widoku zgłasza syntax error.

[code]

[2015-04-20 19:31] mklemarczyk commented on #22
Jest jakiś błąd konkretny?
Nie masz przecinka po `'film.godzina_rozpoczecia'`.

[2015-04-20 19:33] #22 closed, assigned to mklemarczyk

[2015-04-20 20:59] romety2 opened #23 "Filtrowanie i sortowanie po polach z tabeli obcej"
Witam po raz kolejny :)

Używam wyszukiwarki utworzonej w CRUD Generator|Search Model Class jednak nie działa ona na klucze obce (po odpowiednich modyfikacjach, czyli takich by nie wyświetlał id) :(. Wiesz może jak zrobić by wyszukiwało te dane??

[2015-04-20 21:24] mklemarczyk commented on #23
Jest to możliwe, jednak uprzedzam, że potrzeba do tego trochę cierpliwości.
Jesteś na to gotów(-owa)?

[2015-04-20 21:25] romety2 commented on #23
tak jest :) (gotów)

[2015-04-20 21:37] mklemarczyk commented on #23
Musisz zacząć od modelu wyszukiwania.
Możesz zamieścić zawartość pliku modelu wyszukiwania?

Model wyszukiwania to ten, który służy za parametr dla widgetu [**GridView**](http://www.yiiframework.com/doc-2.0/guide-output-data-widgets.html#gridview).

[code]

Może się nazywać na przykład `frontend/models/ZakupSeach`
Gdy generowałeś CRUD, jest tam opcja by wygenerować model wyszukiwania. (Trzeba było

[2015-04-20 21:43] romety2 commented on #23
Model wyszukiwania to ten z którego chce szukać :) ??

<?php

namespace common\models;

use Yii;

/**
 * This is the model class for table "boks".
 *
 * @property integer $id_boks
 * @property string $boks
 *
 * @property Zwierze[] $zwierzes
 */
class Boks extends \yii\db\ActiveRecord
{
    /**
     * @inheritdoc
     */
    public static function tableName()
    {
        return 'boks';
    }

[2015-04-20 21:44] mklemarczyk commented on #23
Nie, to ten który służy za parametr dla widgetu GridView.

[code]

[2015-04-20 21:50] romety2 commented on #23
Model wyszukiwania `ZwierzeSearch`

[code]

[2015-04-20 21:51] mklemarczyk commented on #23
**Dla przykładu zaimplementujemy filtrowanie dla nazwy gatunku.**

[code]

---

Na koniec trzeba edytować widok `index`

Zwykłe pole danych w [**GridView**](http://www.yiiframework.com/doc-2.0/guide-output-data-widgets.html#gridview) definiujemy:

[code]

Jednak, aby dodać własne pole filtrujące musimy zdefiniować w ten sposób:

[code]

[2015-04-20 21:53] romety2 commented on #23
Spoko :) wysłałem Ci oba bo nie wiem który Ci będzie bardziej potrzebny :)

[2015-04-20 21:59] mklemarczyk commented on #23
Czy wyjaśnienie jest wystarczające?

[2015-04-20 22:03] romety2 commented on #23
Dzieki wielkie będę Ci musiał chyba coś postawić za tą ciągłą pomoc ;), Tak jeszcze w ramach wyjaśnienia wysłałem to wysłałem Ci oba b chciałem połączyć zwierzątko z boksem i nie byłem pewien który Ci będzie potrzebny ale to co wysłałeś powinno wystarczyć ;) Dzieki jeszcze raz :)

[2015-04-20 22:05] mklemarczyk commented on #23
To jeszcze nie koniec, jeszcze jeden krok do filtrowania. ;)

[2015-04-20 22:08] romety2 commented on #23
ok, potrze Ci coś jeszcze z mojej strony :) ??

[2015-04-20 22:09] mklemarczyk commented on #23
Nie

[2015-04-20 22:10] mklemarczyk commented on #23
Musisz edytować widok `index`

Zwykłe pole danych w GridView definiujemy:
[code]

[2015-04-20 22:23] #23 closed, assigned to mklemarczyk

[2015-04-21 07:44] romety2 opened #24 "Problem "Filtrowanie i sortowanie po polach z tabeli obcej""
Witam próbowałem zrobić Twoim sposobem jednak mam następujący komunikat

[code]

Wiesz może jaki jest powód :P ??
Problem jest tutaj

[code]

Czy powodem może być brak danych w encji zwierze ??

[2015-04-21 12:51] chomyczek opened #25 "Fatal Error, Migracja i smok Wawelski czyli historia o tym, że nie działa.."
udało mi się zmigrować tabele user (tak jak w #10) by udało się zalogować, nastepnie w bazie danych dodałem nową tabelę odwołującą się do user.id i utworzyłem kontroler tej tabeli  i teraz nie działa. Wyświetla się następujący komunikat:

[code]

ten komunikat wyświetla się na stronie głównej i każdej innej

[2015-04-21 13:16] martin123154 opened #26 "Filtrowanie i sortowanie wg pola łączonego z tabeli obcej"
Ja chcialbym podłączyć sie do pytania romety2 - bo twój sposób działa gdy wyszukuje po jednym elemencie, jednak jak zrobić żeby działało gdy chce wyszukać po polach z tabeli obcej jeżeli są one złączone z dwóch elementów? Np Jeżeli mamy klucz obcy 'Klient' który składa sie z imienia i nazwiska owego klienta (wcześniej utworzony w modelu klienta: public function getNazwisk(){
    return $this->imie

[2015-04-21 14:46] ghost opened #27 "Ograniczenie daty do dnia dzisiejszego"
Jak zrobić ograniczenie na datę, żeby nie można było wprowadzić późniejszej daty niż dzień dzisiejszy ?

[2015-04-21 15:56] mklemarczyk commented on #26
Wyszukiwanie w ten sposób jest wysoko niezalecane.
Należałoby rozdzielić kolumny.

Note: Musiałbyś wyszukiwać jednym polem w dwóch kolumnach, co może powodować niezrozumienie systemu przez użytkownika, ponieważ będą różne wyniki gdy napisze `Maria`, `Kowalska`, `Matra Kowalska`, `Kowalska Marta`. Format wyszukiwania będzie zbyt trudny dla użytkownika. **Ponieważ będzie się spodziewał, że wszystkie

[2015-04-21 16:06] mklemarczyk commented on #27
[**Date validator**](http://www.yiiframework.com/doc-2.0/guide-tutorial-core-validators.html#date) będzie posiadał opcje **min** i **max**, lecz dopiero w kolejnej wersji Yii (https://github.com/yiisoft/yii2/pull/8115)

Dlatego na chwilę obecną należy to wykonać za pomocą [**compare validator**](http://www.yiiframework.com/doc-2.0/guide-tutorial-core-validators.html#compare).

[code]

:warning: Fo

[2015-04-21 16:08] mklemarczyk commented on #24
Wyraźnie napisano komunikat **Column 'id_boks' in on clause is ambiguous**. Użyłeś tej samej nazwy kolumn w obu tabelach.

:+1: Zalecenie: Klucze główne powinny nazywać się **id**, natomiast klucze obce **[nazwa_tabeli_obcej]_id**.

:disappointed: Innym rozwiązaniem problemu może być użycie nazwy tabeli w query:

[code]

[2015-04-21 16:13] mklemarczyk commented on #25
#21 Opisałem, aby nie usuwać funkcji z modelu **User**.

Funkcji **findIdentity** nie ma w modelu User i Yii nie może jej użyć.

[2015-04-21 16:23] romety2 commented on #24
Ok działa dzięki ;) Jeszcze pytanie jak zmienić nazwę kolumny, Jeśli wolisz mogę utworzyć oddzielny issues

[2015-04-21 16:24] mklemarczyk commented on #24
You need to create a new issue... :smile:

[2015-04-21 16:25] chomyczek commented on #25
A jeżeli powiem, że nic z tamtego pliku nie usunąłem?

[2015-04-21 16:26] romety2 opened #28 "Zmiana nagłówka kolumny (GridView) w widoku"
Jak zmienić nazwę kolumny w GridView?

Mam kolumnę zdefiniowaną w ten sposób (tak jak w #23):

[code]

[2015-04-21 16:26] chomyczek commented on #25
chciałem ale przestało  działać szybciej :P

[2015-04-21 16:27] mklemarczyk commented on #25
Możesz pokazać zawartość pliku `common/models/User.php`?

[2015-04-21 16:27] #24 closed, assigned to mklemarczyk

[2015-04-21 16:29] mklemarczyk commented on #28
Gdy definiujemy kolumnę parametrycznie, wystarczy podać parametr `label`.

[code]

[2015-04-21 16:31] chomyczek commented on #25
Powiem tylko, że utworzyłem to na nowym szkielecie Yii, więc nie zdąrzyłem nic zjebać :p

[code]

[2015-04-21 16:32] mklemarczyk commented on #25
:anger: I czyli mówisz, że nic nie zmieniałeś, a funkcja zniknęła? :interrobang:
Oryginalny plik **User.php** załączyłeś w issue #21

:information_source: Są tam również adnotacje, co w tym pliku jest ważne i czego nie wolno usuwać.

[2015-04-21 16:34] romety2 commented on #28
eee czy ja dobrze rozumiem :> ?? bo chodzi o to ze mam domyślnie boks boks czyli nazwe tabli i kolumny wyświetlanej a chce mieć jeden boks :D. Nie działa ani tekst ani label :< ??

[2015-04-21 16:35] chomyczek commented on #25
tak! Lepiej bo z karzdym utworzeiem nowego szkieletu czy nawet usbwebserwer jak postawie od nowa i dodam nowy czysty szkielet, skonfiguruje jak w instrukcji to mi jakies błędy wywalają

[2015-04-21 16:36] chomyczek commented on #25
a dokładnie czepia się że nie ma tabeli User w mojej bazie.. juz nie lubie tego frameworka

[2015-04-21 16:37] chomyczek commented on #25
Czy migracja mogła mi zniszczyć system?

[2015-04-21 16:41] mklemarczyk commented on #25
Migracja - **nie**, ale generowanie modelu **User** - **tak**

[2015-04-21 16:42] mklemarczyk commented on #28
Nie rozumiem, możesz opisać strukturę bazy danych a potem zadać pytanie jeszcze raz?

[2015-04-21 16:43] mklemarczyk commented on #28
Może inaczej, o której kolumnie mówisz?

[2015-04-21 16:43] chomyczek commented on #25
mhm czyli to to :P, dzieki

[2015-04-21 16:51] romety2 commented on #28
Mowie kolumnie z pola filtrującego dajmy mam połączoną Boks ze Zwierzęciem kolumna w Boks kotar chce wyświetlić to Nazwa i w Zwierzęciu mam nazwe kolumny Boks Nazwa a chcialbym miec np samo Boks :).
![ggggg](https://cloud.githubusercontent.com/assets/5895702/7257632/605e0eda-e857-11e4-9ad7-d7255c02146a.png)

[2015-04-21 17:10] romety2 commented on #28
XD dzieki :D

[2015-04-21 17:13] #28 closed, assigned to mklemarczyk

[2015-04-21 19:05] chomyczek opened #29 "Weryfikacja danych - Match Validator"
W modelu Uzytkownik ma m coś takiego:

[code]

co robie zle z tym patternem, że zawsze przechodz, znaczy tak jak jest teraz powinno pozwolić na wpisanie 4 liter od a do z a jeszeli wpisze cyfry albo 10 znaków to i tak pisze ze jest ok.

[2015-04-21 19:45] chomyczek opened #30 "Formatowanie waluty w widoku"
Jak zrobić dopisek waluty w widoku?

[2015-04-21 19:56] mklemarczyk commented on #29
Standardowo wzorce służą do wyszukiwania.
Istnieją dwa dodatkowe znaki we wzorcach `^` - oznaczający początek oraz `$` - oznaczający koniec.

Aby wzorzec działał poprawnie w [**match validator**](http://www.yiiframework.com/doc-2.0/guide-tutorial-core-validators.html#match):

[code]

:information_source: Dodatkowo ograniczenie długości znaków można określić jako [**string validator**](http://www.y

[2015-04-21 20:01] mklemarczyk commented on #30
Do formatowanie waluty należy użyć [**formatera**](http://www.yiiframework.com/doc-2.0/guide-output-formatter.html).
W tym celu należy użyć aliasu `currency` w ten sam sposób jak `date`, `time` czy `datetime`.

[2015-04-21 20:08] #30 closed, assigned to mklemarczyk

[2015-04-21 20:11] chomyczek commented on #29
czyli to była kwestia dwuch znaczków :< dzieki

[2015-04-21 20:11] #29 closed, assigned to mklemarczyk

[2015-04-21 20:12] mklemarczyk commented on #25
Jak postępy?

[2015-04-21 20:46] chomyczek commented on #25
Zacząłem od nowa, bez generowania modelu User, teraz działa :stuck_out_tongue:

[2015-04-21 21:30] chomyczek opened #31 "Dane z modelu obcego (widok)"
Mam widok aktualizacji zamówienia, w któym wyświetlam formularz zamówienia.

Chciałbym wyświetlić w nagłówku H1 w widoku nazwę pracownika.

[2015-04-21 22:06] chomyczek opened #32 "Sumowanie wartości w kolumnie"
jak znalezc wszystkie elementy o konkretnym id, następnie dodać ich wartości ceny tak by móc przypisać do zmiennej ich łączną sume?

[2015-04-21 22:41] chomyczek opened #33 "Własne dane w dropDownList() zamiast danych z bazy danych"
chce zrobic liste gotowych pozycji, typu Nowe albo wysłane i mam coś takiego

[code]

jak zrobić by 'Nowe' miało inną wartość niż 0 a najlepiej miało taką samą jak ona sama. przy okazji by była widoczna wyłącznie nazwa wybieranej pozycji a nie jej wartość

[2015-04-22 06:16] romety2 opened #34 "Nie działa wyświetlanie zawartości kolumny połączonej relacją"
Witam mam poważny problem. Płączyłem encje osoba z adres z tabeli osoba chciałem pozbyć sie kolumny adres i wyświetlić miasto 'adres.miasto', Jednak po dodaniu zawartości do encji osoba wyświetla się taki komunikat.

[code]

Działa poprawnie po usunięciu osoby. Co może byc tego powodem ??

[2015-04-22 06:59] romety2 commented on #34
dobra problem rozwiązany powinno być IdAdres :)

[2015-04-22 07:00] #34 closed, assigned to nobody

[2015-04-22 07:57] romety2 opened #35 "Wyszukiwanie po polu z datą"
Wiesz może jak zrobić wyszukiwanie dat przy pomocy wyszukiwarki, gdyż domyślnie nie działa. Najlepiej dla formatu dd.mm.yyyy :D ??

[2015-04-22 09:51] mklemarczyk commented on #31
Jeśli chodzi o wyświetlenie danych relacyjnych z modelu w widoku.
Możesz posłużyć się zmienną `$model`, która reprezentuje instancję bieżącego zamówienia.

[code]

[2015-04-22 09:53] mklemarczyk commented on #32
Trudno mi odpowiedzieć bez znajomości struktury danych.

Ale wyszukiwanie to metoda where.
A suma to sum('[[nazwa kolumny]]')

Przykład użycia:

[code]

[2015-04-22 09:55] mklemarczyk commented on #35
Działa, jeśli nic nie zmieniłeś to traktuje datę tak samo jak string. Więc wyszukiwanie jest realizowane w formacie jakim reprezentuje datę baza danych.

Aby to zmienić musisz w modelu wyszukiwania dokonać konwersji formatu daty.

[2015-04-22 09:57] mklemarczyk commented on #33
Na to pytanie jest już odpowiedź. Issue #5

[2015-04-22 09:58] #25 closed, assigned to mklemarczyk

[2015-04-22 11:59] #27 closed, assigned to mklemarczyk

[2015-04-22 12:01] #33 closed, assigned to mklemarczyk

[2015-04-22 13:00] #31 closed, assigned to mklemarczyk

[2015-04-22 13:07] #32 closed, assigned to mklemarczyk

[2015-04-22 16:07] romety2 opened #36 "Problem z rejestracją - UnknownMethodException"
Po wykonaniu https://github.com/mklemarczyk/yii-prezentacja/issues/10 pojawia się komunikat :D

[code]

wiesz może jak to naprawić ??

[2015-04-22 16:14] romety2 commented on #35
nic nie zmieniałem i nie działa :) nie wiem co jest tego powodem ale robiłem wszystko wg Twoich instrukcji :)

[2015-04-22 16:21] kreteda2 opened #37 "Problem z wczytaniem stron po stworzeniu cruda itd"
Mam problem z ładowaniem stron po wykonaniu całej instrukcji
mod_rewrite załadowany

img http://nfs-w.pl/Untitleddsadsad.jpg

![untitleddsadsad](https://cloud.githubusercontent.com/assets/12071113/7279441/57415d00-e91c-11e4-8d6a-e81ea7d6e606.jpg)

[2015-04-22 17:27] mklemarczyk commented on #36
Ten sam problem co #25

[2015-04-22 17:31] mklemarczyk commented on #37
Podaj zawartość plików:
- `common/models/Sprzedaz.php`
- `frontend/controllers/SprzedazController.php`
- `frontend/view/sprzedaz/index.php`

Jeśli którykolwiek z plików nie istnieje lub nazywa się inaczej, oznacza to, że CRUD został źle wygenerowany (tj. dane w formularzu tworzenia zostały źle wprowadzone).

[2015-04-22 17:32] mklemarczyk commented on #35
Wpisz jakąkolwiek datę w formacie yyyy-mm-dd, jeśli nie znajdzie nic załącz screeny, 1\* że rekord istnieje, 2\* że go nie wyszukało.

[2015-04-22 17:32] #26 closed, assigned to mklemarczyk

[2015-04-22 17:41] romety2 commented on #35
aaa ok zadziało jak wpisałem całą datę, myślałem że będzie dla kawałków daty typu wpisze 03 i pojawi się  2000-03-03 :D, ok dzięki możesz uznać temat za zamknięty :)

[2015-04-22 17:44] romety2 commented on #36
Czyli musze "zmieniłem komputer i zacząłem od nowa nie korzystająć z tabeli User, teraz działą :P" Tak :D ??

[2015-04-22 17:45] mklemarczyk commented on #35
Niestety bez modyfikacji modelu wyszukiwania nie będzie działało w ten sposób.
Należałoby zweryfikować metody filtrujące i sformatować pole z datą w modelu wyszukiwania, aby umożliwić wyszukiwanie w inny sposób.

[2015-04-22 17:45] #35 closed, assigned to mklemarczyk

[2015-04-22 17:45] kreteda2 commented on #37
Dobra to chyba zalatwione, jest kolejny błąd

Controllery zamiast w frontend/controllers/ generują mi sie w common\models

to co wyszlo jak wkleiłem controller do forntend/controllers

![image](https://cloud.githubusercontent.com/assets/12071113/7281081/a1a909fa-e927-11e4-8ad6-89ded8ba6163.png)

[2015-04-22 17:47] mklemarczyk commented on #37
Bo nie przeczytałeś instrukcji lub nie postępujesz zgodnie z filmem.
:blue_book: https://github.com/mklemarczyk/yii-prezentacja/wiki/Instrukcja#2-tworzenie-kontroler%C3%B3w

:warning: Zalecam przeczytać uważnie instrukcję, następnie zadawać pytanie.

[2015-04-22 17:47] #37 closed, assigned to mklemarczyk

[2015-04-22 17:51] mklemarczyk commented on #36
:link: Ten sam problem co #25 #21

:no_entry_sign: Nie możesz nadpisać pliku **User** poprzez wygenerowanie nowego modelu.
:warning: W szkielecie aplikacji istnieje już model **User**.

:information_source: Model ten posiada domyślnie funkcje umożliwiające poprawne logowanie i rejestrację. Możesz jedynie go rozbudowywać.

[2015-04-22 17:51] romety2 commented on #36
ok dzięki :)

[2015-04-22 17:52] #36 closed, assigned to mklemarczyk

[2015-04-22 17:58] mklemarczyk commented on #36
Sorki za ilość emotek, ale #37 mnie zirytował.

[2015-04-22 17:58] romety2 commented on #36
Spoko nie dziwie się

[2015-04-22 19:24] AChlebba opened #38 "zmiana id na cos innego"
![blad1](https://cloud.githubusercontent.com/assets/6032233/7283389/79bec56a-e936-11e4-93b7-ca2260ecb977.png)
jak próbuje zamienić np. 'id_ksiazka' na 'ksiazka.tytul' to wywala bład
Getting unknown property: common\models\Wypozyczenie::ksiazka
o co chodzi ?

[2015-04-22 19:50] mklemarczyk commented on #38
Sprawdź czy w modelu Wypozyczenie wygenerowała się funkcja getKsiazka.
Jeśli nie to musisz sprawdzić czy masz relacje w bazie danych.
Ewentualnie mogła przyjąć inną nazwę.

[2015-04-22 19:52] ghost opened #39 "Problem z wrzuceniem projektu na sigme"
Mam problem z wrzuceniem swojego projektu na sigme. Nie wiem jak ustawić różne prawa dla plików i katalogów, trochę tego za dużo, żeby robić to pojedynczo :). Próbowałem przydzielić prawa dla całego public_html na 777, ale po wpisaniu strony sigma.inf.ug.edu.pl/~smatyjas/advanced pokazuje błąd wczytania.

[2015-04-22 19:58] mklemarczyk commented on #39
Musisz mieć prawa do katalogu domowego na co najmniej 711, pozostałe prawa do projektu polecam Ci nadać za pomocą filezilla.

:warning: Projekt podczas pracy może tworzyć pliki które mogą być trudne a czasem niemożliwe do usunięcia. (Niestety to problem konfiguracyjny Sigmy)

[2015-04-22 20:01] AChlebba commented on #38
nie ma funkcji getKsiazka, a relacje powinny byc zaimportowałem sobie taką baze danych
![bazasql](https://cloud.githubusercontent.com/assets/6032233/7284029/f3240894-e93a-11e4-82fa-d54ce086e092.png)

[2015-04-22 20:03] mklemarczyk commented on #38
Niestety MySQL chyba nie obsługuje tego formatu deklarowania kluczy obcych. Sprawdź w phpmyadmin czy referencje utworzyły się poprawnie.

[2015-04-22 20:09] AChlebba commented on #38
no nie zrobiły się, to jak powinna wyglądać poprawna deklaracja klucza obcego ?

[2015-04-22 21:23] mklemarczyk commented on #38
Jest opisana w pliku sql na repozytorium w folderze baza danych

[2015-04-23 07:53] chomyczek opened #40 "jak sie pozbyc paska debuggera?"
jak sie pozbyc paska debuggera, ktory generuje bledy przy walidacji w3c?

[2015-04-23 07:56] mklemarczyk commented on #40
W pliku konfiguracji masz component debug, wyszatrczy  że usuniesz jego konfigurację.

[2015-04-23 07:56] mklemarczyk commented on #40
W pliku konfiguracji masz konfigurację komponentu `debug`, wyszatrczy że usuniesz jego konfigurację.

[2015-04-23 09:33] chomyczek opened #41 "wszystkie pliki 707"
[code]

[2015-04-23 10:05] #41 closed, assigned to nobody

[2015-04-23 16:54] #40 closed, assigned to mklemarczyk

[2015-04-23 16:55] mklemarczyk commented on #39
Polecam użyć skryptu do inicjacji praw dostępu.

[2015-04-23 19:49] ghost commented on #39
Zrobiłem wszystko to co tutaj: https://github.com/mklemarczyk/yii-prezentacja/wiki/Yii-na-sigmie. Ogólnie projekt jest na sigmie, ale mógłbyś pokazać jak wrzucić przykładową tabelę np. klient na sigme ?

[2015-04-23 20:02] martin123154 opened #42 "Problem z folderem assets"
Postępowałem zgodnie z instrukcjami nt wrzucenia projektu na sigme jednak pojawił sie problem.

w Momencie wykonywania skryptu yii chmod wyrzuca mi ogrom błędów związanych właśnie z znajdującymi sie tam plikami, oto przykład kilku z nich:

[code]

Jest ich więcej, tyczą sie wszystkich folderów (8) sie tam znajdujących,
Zauważyłem też przy patrzeniu w baze że bootstrap.css który zmieniałem przy oka

[2015-04-24 17:46] mklemarczyk commented on #39
Tak samo jak tworzyłeś tabele w postgesql.
Ewentualnie za pomocą migracji też można utworzyć tabele.
:blue_book: https://github.com/mklemarczyk/yii-prezentacja/wiki/Yii-na-sigmie#migracja-bazy-danych-ma-postgesql-opcjonalnie

[2015-04-24 17:47] mklemarczyk commented on #42
Te foldery zostały utworzone przez PHP i nie jesteś ich właścicielem.
Właścicielem wszystkich plików utworzonych przez PHP jest `www-data`.
Można je usunąć jedynie z poziomu PHP.

:grey_exclamation: Dodatkowo nie możesz modyfikować żadnych plików w folderze assets, ponieważ wszelkie zmiany będą nadpisywane przez Yii (jest to jedynie katalog tymczasowy).

[2015-04-25 09:31] martin123154 opened #43 "Niedziałający create w tabelach z kluczami obcymi"
Witam ponownie,

W folderze migrations tworyłem plik zgodnie z zaleceniami (wstawie dwie przykładowe tabele i Fk do nich)

[code]

Z tym że w tabelach w których te klucze obce wystepują nie działa mi poprawnie create (w tabelach typu `aktor` gdzie nie ma żadnych FK można normalnie dodawać rekordy, zmieniać, usuwać itp), natomiast już w tabeli typu `wystep` gdzie znajdują sie FK ten create nie dzia

[2015-04-25 10:40] mklemarczyk commented on #43
Kod migracji jest poprawny.

Po naciśnięciu jakiego przycisku wyświetlany jest błąd?

[2015-04-25 10:58] mklemarczyk commented on #42
Skoro nie ma więcej pytać w tym temacie - zamykam.

[2015-04-25 10:58] #42 closed, assigned to mklemarczyk

[2015-04-25 10:58] #39 closed, assigned to mklemarczyk

[2015-04-25 10:59] #38 closed, assigned to mklemarczyk

[2015-04-25 11:08] martin123154 commented on #43
1. Po wejściu w create'a

2.
[code]

Podobny problem mam w przypadku tabeli "Zakup"

[code]

Również jak przy wejściu w create'a wysietla mi owy błąd

[2015-04-25 16:38] mklemarczyk commented on #43
A gdzie są instrukcje dodające klucze obce?

[2015-04-25 21:24] martin123154 commented on #43
Eh, wszystkie możliwości chyba sprawdziłem, FK są w porządku, dla sprawdzenia zrobiłem taki myk że usunąłem powiązania w tym pliku z migracją, i dalej w tych dwóch miejscach create nie działa, co ciekawe tabela "bilet" w których są również klucze obce działa normalnie, więc w tych dwóch tabelach coś nie gra, tylko kompletnie nie wiem co bo nie ma żadnej różnicy między nimi a dla porównania tabelą

[2015-04-26 08:52] romety2 commented on #43
Zauważyłem brak zamkniętego nawiasu  createTable.

[2015-04-26 08:54] martin123154 commented on #43
Kopiowałem i nie dodałem przez przypadek, akurat ten przykład z biletem działa w pełni dobrze

[2015-04-26 11:42] ghost opened #44 "Problem przy wstawianiu drugiej takiej samej ceny"
Mam problem odnośnie ceny w tabeli bilet. Gdy chcę dodać drugi bilet o takiej samej cenie jak inny wcześniej dodany dostaję komunikat: Integrity constraint violation: 1062 Duplicate entry '50.00' for key 'cena'. Tak jak bym miał unique na cenę, ale na pewno czegoś takiego nie ustawiłem.

[2015-04-26 11:44] romety2 opened #45 "cascade na sigmie"
Jak zrobić usuwanie cascade na sigmie :D ??
nie działa polecnie:
ALTER TABLE osobaADD CONSTRAINT osoba_adres FOREIGN KEY (id_adres) REFERENCES adres (id) ON DELETE CASCADE ON UPDATE CASCADE;

[2015-04-26 12:48] mklemarczyk commented on #45
Dokumentacja PostrgeSQL

http://www.postgresql.org/docs/8.2/static/ddl-constraints.html

W przypadku używania migracji:

[code]

http://www.yiiframework.com/doc-2.0/yii-db-querybuilder.html#addForeignKey()-detail

[2015-04-26 12:49] mklemarczyk commented on #44
Najwyraźniej masz, zaprezentuj sposób w jaki utworzyłeś tabele (skrypt SQL/plik migracji).

[2015-04-26 12:59] mklemarczyk commented on #43
Spróbuj poprawić nazwy tabel, aby były ujęte w `{{ }}`.

Dodatkowo sprawdziłbym zmienić typ ceny na `TYPE_MONEY`.

Na przykład:
[code]

Szczegóły: http://www.yiiframework.com/doc-2.0/guide-db-dao.html#quoting-table-and-column-names

Jeśli w dalszym ciągu występuje błąd:
- Załącz pełen skrypt migracji.
- Załącz log z wykonania migracji.
- Załącz plik modelu, którego dotyczy błąd.
- Załącz plik kont

[2015-04-26 13:13] romety2 commented on #45
dzięki

[2015-04-26 13:25] ghost commented on #44
[code]

[2015-04-26 14:33] martin123154 commented on #43
Wiem już w czym rzecz, z tym że chiałbym sie dowiedzieć czy jest możliwość żeby dało sie to odpalić na sigmie (bo na localhoscie działa). Chodzi o funkcje która łączy dwie kolumny w jedną.

 W kliencie mam w modelu na dole
[code]

A w kontrolerze "Zakup" w miejscu dotyczącego create'a:
[code]

I właśnie ten błąd wyskakuje przez to że mam zrobione ->orderBy('Nazwisko'), w momencie gdy zmienilem na

[2015-04-26 14:47] martin123154 commented on #43
Wiem już na czym polega mój problem, jednak chciałbym spytać czy da sie temu zaradzić. Mianowicie najpierw przytocze model klienta i kontroler "Zakupu"

[code]

oraz

[code]

Chodzi o funkcje zawartą na dole modelu Klienta o nazwie getNazwisko

[code]

która łączy kilka kolumn, przy użyciu jej w w kontrolerze zakupu, konkretnie w polu dot. create

[code]

wywala owy błąd, po zmianie "Nazwisko" na

[2015-04-26 15:26] #45 closed, assigned to mklemarczyk

[2015-04-26 15:36] mklemarczyk commented on #43
1. Moje pytanie brzmi, od kiedy posiadasz kolumnę o nazwie `Nazwisko` w tabeli Klient?
2. Dlaczego nadpisałeś funkcję getNazwisko? - domyślnie funkcja zwraca dane z kolumny `nazwisko`.
3. Stworzyłeś wywołanie rekurencyjne, funkcja getNazwisko wywołuje samą siebie.

Schemat działania twojej rekurencji

[code]

:warning: Nazwy wszystkich **zmiennych**, **metod** i **przestrzeni nazw** zawsze zaczyna

[2015-04-26 15:44] mklemarczyk commented on #44
Jeśli błąd występuje na serwerze używającym PostgreSQL:
Podany skrypt nie jest poprawnym skryptem SQL dla PostgreSQL.
Musisz go poprawić, bieżący skrypt SQL będzie działał jedynie na serwerze MySQL.

Jeśli błąd występuje na serwerze używającym MySQL:
Sprawdź czy nie istnieje ograniczenie unique na kolmnę cena.
Ewentualnie stwórz ponownie tabele używając tego skryptu.

[2015-04-26 16:16] martin123154 commented on #43
Działa, dzięki!

[2015-04-26 19:54] romety2 opened #46 "Zabezpieczenie przed nie prawdziwa datą"
Gdy wpiszę nieprawdziwą datę NA SIGMIE pojawia się taki błąd

[code]

 wiesz może jak sprawdzić by komunikował w bardziej normalny sposób :P

[2015-04-26 20:59] #43 closed, assigned to mklemarczyk

[2015-04-26 21:03] mklemarczyk commented on #46
Przedstawiony przez ciebie tekst to błąd wykonania. Programista powinien obsłużyć wszystkie błędy lub napisać kod w sposób by błędy nie występowały w ten sposób.

Powinieneś zaimplementować poprawnie weryfikację pól, aby informować użytkownika o popełnionym przez niego błędzie. Do daty możesz zastosować [**Date validator**](http://www.yiiframework.com/doc-2.0/guide-tutorial-core-validators.html#da

[2015-04-26 21:10] romety2 commented on #46
dzieki :D

[2015-04-26 21:39] #46 closed, assigned to mklemarczyk

[2015-04-28 20:58] Dawid93 opened #47 "Brak tabel na sigmie"
Problem z obsługą cruda na sigmie po migracji.

[2015-04-29 20:54] romety2 opened #48 "Nie działające wyszukiwanie kluczy obcych typu integer na sigmie"
Podczas próby pojawia sie błąd

[code]

Poza sigma działa dobrze :+1:

[2015-04-29 21:51] mklemarczyk commented on #47
Zweryfikuj wielkość liter, wszystkie tabele i nazwy kolumn w bazie danych powinny być pisane wyłącznie małymi literami.
Zweryfikuj czy łączysz się z odpowiednią bazą danych, sprawdź czy baza danych istnieje.

[2015-04-29 21:55] mklemarczyk commented on #48
:exclamation: Nie można używać słowa kluczowego LIKE przy typach liczbowych w PostgeSQL.

[2015-04-30 06:08] romety2 commented on #48
a jakie należy użyć ;D ??

[code]

co należy poprawić :D

[2015-04-30 06:16] romety2 commented on #48
dobra zadziałało = zamiast like dzięki :)

[2015-04-30 07:25] #48 closed, assigned to mklemarczyk

[2015-04-30 23:40] #44 closed, assigned to mklemarczyk

[2015-04-30 23:40] #47 closed, assigned to mklemarczyk